.weather img {
  width: 22rem;
}
.weather-celsius-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.celsius-info {
  font-size: 6.4rem;
}

.celsius-info span {
  font-size: 5.4rem;
}

.location {
  font-size: 4.4rem;
}
