* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #4f4f4f;
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.8rem;
  color: #f3e4e4;
}

.container {
  background-color: rgba(54, 59, 155, 0.888);
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
